<div class="form-group">
	<%= simple_form_for [:lesson, @document] do |f| %>
	  
		<div class="row">
			<label class="col-md-2 control-label" > Başlık </label> 
			<div class="col-md-5 ">
				<%= f.input :name, required: true, label:false, input_html: { class: "form-control"} %>
			</div>
		</div>

		<div class="row">
			<br/><label class="col-md-2 control-label" > İçerik </label>
			<div class="col-md-5 ">
				<%= f.input :description,  placeholder: "Açıklama giriniz", label:false, input_html: { class: "form-control"} %> <br/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<div class="actions">
					<%= f.submit "Kaydet", :class=>"btn btn-success" %>
					<%=  link_to "Geri", lesson_documents_path(), class: "btn btn-warning" %> 
				</div>
			</div>
		</div>
	<% end %>
</div>


