<ul class="list-group">
<h2 class="text-danger">Dersler</h2>
	<table class="table table-striped">
	      <thead>
	        <tr>
	          <th>ADI</th>
	          <th>HAFTASI</th>
	          <% if admin_signed_in? %>
	          	<% if current_admin.role=="admin" %>
	        		<th>YÖNETİCİ</th>
	        	<%end%>
	          <% end %>
	        </tr>
	      </thead>
	      <tbody>
	      	<% @lessons.each do |lesson| %>

		        <tr>
		          <td><%=link_to lesson.name ,lesson_documents_path(lesson) %></td>
		          <td><%= lesson.week %></td>
		          <td>
		          <% if admin_signed_in? %>
		          	<% if current_admin.role=="admin"  %>
						<%= link_to " Sil", lesson_path(lesson), method: :delete, class: "label label-danger" %>
						
						<%= link_to "Düzenle", edit_lesson_path(lesson), class: "label label-warning" %> 
					<% end %>
			  <% end %>
			  </td>
		        </tr>
	        <% end %>
	      </tbody>
	 </table>
	<br/>
<% if admin_signed_in? %>
	<% if current_admin.role=="admin"   %>
	<%= link_to " Ders Ekle", new_lesson_path, class: "label label-primary" %> <br>
	<% end %>
<% end %>
</ul>

