<div class="form-group">
	<%= simple_form_for @lesson do |f| %>
	  
		<div class="row">
			<label class="col-md-2 control-label" > Ders Adı </label> 
			<div class="col-md-5 ">
				<%= f.input :name, required: true, label:false, input_html: { class: "form-control"} %>
			</div>
		</div>

		<div class="row">
			<br/><label class="col-md-2 control-label" > Ders Haftası </label>
			<div class="col-md-5 ">
				<%= f.input :week,  placeholder: "Dersin kaç hafta verileceğini giriniz.", label:false, input_html: { class: "form-control"} %>
			</div>
		</div>

		<div class="row">
			<br/><div class="col-md-5 col-md-offset-2">
				<div class="actions">
					<%= f.submit "Kaydet", :class=>"btn btn-success" %>
					<%=  link_to "Geri", root_path, class: "btn btn-warning" %> 
				</div>
			</div>
		</div>
	<% end %>

</div>
