
<div class="container col-md-12">

	<h2>Giriş</h2>

	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	<div class="row">
		<div class="form-group">
			<label for="exampleInputEmail1" class="col-md-2 control-label" > Email </label>
				<%= f.input :email, required: false, label:false,placeholder: "Email", input_html: { id: "exampleInputEmail1", class: "form-control"} %>
		</div>
	</div>

	<div class="row">
		<div class="form-inline">
			<label for="exampleinputPassword" class="col-md-2 control-label" > Parola </label>
				<%= f.input :password, required: false, label:false,placeholder: "Parola", input_html: { id: "exampleInputPassword3", class: "form-control"} %>
		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<div class="col-md-5 col-md-offset-2">
				<div class="checkbox">
					<label>
						<%= f.check_box :remember_me, :class=> "checkbox", :value =>true %> Beni Hatırla
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<div class="col-md-5 col-md-offset-2">
				<div class="actions">
					<%= f.submit "Giriş", :class=>"btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>


	
	<% end %>

	<%= render "devise/shared/links" %>
</div>