<div class="panel panel-warning">

  <div class="panel-heading text-danger">
    <center><h4>Hızlı Erişim</h4></center>
  </div>
  
  <div class="panel-body">
    <ul class="ikon">
      <div style="cursor:pointer">
        <% Lesson.all.each do |lesson| %>
          <li class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" 
          data-toggle="collapse" data-target="#doc<%= lesson.id %>" 
          aria-expanded="false" aria-controls="collapseExample" cursor:pointer >
            <%= lesson.name %>
          
          </li>
          <ul class="collapse ikon" data-target="#doc<%= lesson.id %>" id="doc<%= lesson.id %>">
            <% lesson.documents.each do |document| %>
              <li class="glyphicon glyphicon-triangle-right" aria-hidden="true">
                <%= link_to document.name , lesson_documents_path(document.lesson) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </ul>
  </div>
</div>
