  <!DOCTYPE html>
<html>
<head>
  <title>DocumentTrackingSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
      <div class="glyphicon glyphicon-book"> Doküman Takip Sistemi</div>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" >
        </div>
        <button type="submit" class="btn btn-default">Ara</button>
      </form>
      <form >
        <ul class="nav navbar-nav navbar-right">
          <div class="form-group">
            <% if admin_signed_in? %>
              <%= current_admin.email %>
              <%= link_to "Çıkış Yap", destroy_admin_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Giriş Yap", new_admin_session_path %>
            <% end %>
          </div>
        </ul>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= render "layouts/lessons_documents" %>
      </div> 
    </div>
  </div>
  <footer class="panel-footer">
    <div class="text-center"> 
      <b> Uzem Akademi 2015 </b>
    </div>
  </footer>
</body>


</html>
